<app-navbar-style-two></app-navbar-style-two>

<!-- Start Listings Details Area -->
<section class="listings-details-area pb-70">
    <div class="listings-details-image">
        <img src="assets/img/listings-details.jpg" alt="image">

        <div class="container">
            <div class="container">
             
            </div>
        </div>

        <div class="container-fluid">
            <ul class="share-save">
                <li>
                    <div class="share">
                        <i class='bx bx-share-alt'></i> Share
                    </div>

                    <div class="social">
                        <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-pinterest'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-whatsapp'></i></a>
                    </div>
                </li>

                <li><a routerLink="/single-listings"><i class='bx bx-heart'></i> Save</a></li>
            </ul>
        </div>
    </div>

 
    
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="listings-details-desc">
                    <h3>Details</h3>
                    <p>Xpert Legal is an interactive online networking platform for lawyers practising and specialising in different fields of law, to achieve a huge growth in their practice by getting cases through referrals from the members of the network and from the clients directly who are searching for lawyers online. The platform provides various networking tools and networking opportunities for advocates, aspiring advocates and help them to grow in their profession. 
                        This platform enables the lawyers to build own network of lawyers practising in different cities of India, to participate in different training events, to take part in networking meetings and promote their work resulting in acceleration of their professional growth. The following are the Salient features of the network</p>
                 
    
                        <h3>Profile Page</h3>
                        <p>A dedicated, professionally designed profile page with the details about the expertise of the member in top three branches of law, Photo, videos, articles, contact details, educational qualifications, accomplishments, publications, memberships details about the experience etc.,</p>

                        <h3>Virtual Networking Meetings</h3>
                        <p>Opportunity to attend fortnightly networking virtual meetings, meet lawyers from different places of India and to strengthen your network.
                        </p>


                        <h3>Skill Development Trainings</h3>
                        <p>Opportunity to participate in various virtual Skill development programs conducted by various trainers on different topics including, Presentation skills, writing skills, social skills, human relations, speaking skills, management skills etc.,
                        </p>

                        <h3>New Clients</h3>
                        <p>Since the network is promoted well in the web, direct enquiries will come to the members from potential clients. Since the chat facility is connected, the clients and lawyers will connect directly by chat. 
                        </p>
                        <h3>Presentations</h3>
                        <p>Opportunity to make presentations about your expertise and Experience to the other members of the network to showcase the competence.
                        </p>
      
                        <h3>Conferences</h3>
                        <p>The Network members will get an opportunity to meet in an Annual Conference to be held for three days. This will be knowledge sharing and Networking activity. 2022 Annual Conference will happen in Goa in the month of January. 

                        </p>


                        <h3>Client Searches</h3>
                        <p>Prospective clients shall have the facility to chat with you directly or email you or call you, for their cases. Since Network is promoted in all major search engines, it is getting large number of hits. 

                        </p>
                </div>
            </div>

       
        </div>
    </div>
</section>
<!-- End Listings Details Area -->

<app-footer-style-two></app-footer-style-two>